/* global styles */
body {
  background-color: #e676e6;
}
h1,
h2 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}
h1 {
  font-size: 48px;
}
li {
  display: inline-block;
}
a {
  font-size: 36px;
}
/* header */
header li {
  margin: 0 10px;
}
header li:first-of-type {
  margin-left: 0;
}
/* footer styles */
footer a {
  font-size: 64px;
}
